.chess{
    border-spacing: 0;
    border-collapse: collapse;

}

.chess td{
    border: 1px solid;
    width: 2em;
    height: 2em;
}
.chess .white{
    background: white;
}

.chess .black{
    background: #000;
}